#header{
	color: #f37021;
	background-color: #00529b;
	padding-left: 30px;
}

#searchBar {
  margin: 15px 10px;
}

div .container {
	background-color: #ced8dd;
}

div .jumbotron{
	background-color: #e0eef9;
	margin-top: 15px;
}

.tableWrapper {
  max-height: 300px;
  overflow: auto;
}

th {
	background-color: #e0eef9;
}

tr:nth-child(even) td{
    background-color: #fcd2a9;
}

tr:nth-child(odd) td{
    background-color: #e0eef9;
}

button {
	margin-top: 15px;
	border-radius: 10px;
	background-color: orange;
	color: #00529b;
}

button[disabled]{
	background-color: #f7ba80;
}

button:hover {
	background-color: #f7ba80;
}

div.form{
	background-color: #e0eef9;
	padding: 30px;
	margin-bottom: 15px; 
	margin-top: 15px;
}

form p {
	font-weight: bold;
}

span.required {
	color: red;
	font-size: 10px;
	font-weight: lighter;
	line-height: -5px;
}
